name: college_event_management
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  intl: ^0.19.0
  qr_flutter: ^4.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/images/app_iconas.png

flutter_launcher_icons:
  android: true
  ios: true
  image_path: assets/images/app_iconas.png
  adaptive_icon_background: "#FFFFFF"
  adaptive_icon_foreground: assets/images/app_iconas.png
